##############################
matplotlib==3.6.2
opencv-python==4.6.0.66
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0

# If you get the following error ...
#   qt.qpa.plugin: Could not load the Qt platform plugin
#   UserWarning: Animation was deleted without rendering anything.
# https://github.com/NVlabs/instant-ngp/discussions/300
# Try any or all of these.
# opencv-python==4.3.0.36
# PyQt5==5.15.2
# PyQt5-sip==12.8.1

# sudo apt install python3-tk
# sudo apt install ffmpeg  # for saving movie
##############################

numpy
dm-control
torch
torchvision
pycocotools
vit-pytorch
einops

# for util
typing_extensions
json5==0.9.10
natsort
wcmatch

# for vis
tensorboard
# torch-tb-profiler
visdom
torchviz
seaborn
pandas
torch-summary
