numpy
matplotlib
dm_control
json5


# qt.qpa.plugin: Could not load the Qt platform plugin
opencv-python-headless

# UserWarning: Animation was deleted without rendering anything.
pyqt5

# opencv-python
# pyqt6
